<section class="about-section">
  <div class="container">
    <div class="about-content">
      <div class="text">
        <h1>About Me</h1>
        <p>
          My name is Niels and I am a passionate and results-driven Full-Stack
          Developer with hands-on experience in Angular, Python, and Spring
          Boot. Seeking a challenging IT position to leverage my skills in
          application development, cloud deployment, and continuous
          integration/continuous deployment (CI/CD) methodologies.
        </p>
        <p>
          I have close to 2 years of experience in the industry and have worked
          on various projects, My latest project being the Onboarding Experience
          project. Focusing on end-to-end development of the onboarding web
          application, employing Angular for the frontend and Spring Boot for
          the backend with Jenkins pipeline for the (CI/CD) and Cloud Foundry
          for the deployment.
        </p>
        <p>
          Feel free to explore my portfolio and get in touch if you have any
          questions or would like to collaborate!
        </p>
      </div>
      <mat-spinner *ngIf="!loaded"></mat-spinner>
      <div class="photo">
        <img
          src="{{ profilePicture }}"
          alt="Your Image"
          class="round-image"
          (load)="onImageLoad()"
        />
      </div>
    </div>
  </div>
</section>
