.about-section {
  padding: 50px 0;
  color: #f1faee;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-content {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
}

.text {
  flex: 1;
  text-align: center; /* Center text horizontally */
}

.photo {
  margin-top: 20px; /* Add space between text and image */
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
}

.round-image {
  width: 300px; /* Increase the width of the image */
  height: 300px; /* Increase the height of the image */
  border-radius: 50%;
  object-fit: cover; /* Crop the image to fit */
}
