<footer class="text-center footer-style">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1 li-style"
        href="{{ linkedin }}"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1 gh-style"
        href="{{ github }}"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>
  <div class="text-center p-3 email-style">
    <a href="mailto:{{ email }}">{{ email }}</a>
  </div>
</footer>
