<div class="header-text">
  <h1>Welcome to my portfolio!</h1>
  <h4>
    Please enjoy a game of Hangman while I continue to develop the site.
  </h4>
</div>

<div class="hangman">
  <h1>Hangman</h1>
  <ng-container>
    <p>Attempts left: {{ attemptsLeft }}</p>
    <p>{{ getMaskedWord() }}</p>
    <p>
      Guessed Letters:
      @for (letter of guessedLetters; track letter) {
        <span>{{ letter }}</span>
      }
    </p>
    @for (letter of "abcdefghijklmnopqrstuvwxyz".split(""); track letter) {
      <button
        (click)="makeGuess(letter)"
        [disabled]="guessedLetters.has(letter) || isGameOver()"
      >
        {{ letter }}
      </button>
    }
  </ng-container>
  @if (isGameOver()) {
    <p class="win-text">
      {{ isWordGuessed() ? "Congratulations, you won!" : "Game Over" }}
      <button (click)="pickRandomWord()">Play Again</button>
    </p>
  }
</div>

<h2 class="header-text">
  <a routerLink="/bored">Click me to find out what to do today!</a>
</h2>
