<div *ngIf="loaded; else spinner">
  <div class="login-container" *ngIf="!signedIn; else signedInAlready">
    <form
      class="form-container"
      [formGroup]="loginForm"
      (submit)="signIn($event)"
    >
      <div class="form-row text">
        <label for="name">Email</label>
        <input class="form-field" name="email" formControlName="email"/>
      </div>
      <div class="form-row text">
        <label for="password">Password</label>
        <input
          class="form-field"
          type="password"
          name="password"
          formControlName="password"
          autocomplete="on"
        />
      </div>
      <div class="form-row" *ngIf="authFailed">
        <label class="error">Invalid credentials</label>
      </div>
      <div class="form-row">
        <button
          class="btn btn-primary"
          [disabled]="!loginForm.valid"
          type="submit"
        >
          Sign In
        </button>
      </div>
    </form>
  </div>

  <div class="signed-in-container">
    <ng-template #signedInAlready>
      <div class="text-container text">
        <h4>Sign In</h4>
        <div class="text">You are already signed in!</div>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #spinner>
  <mat-spinner *ngIf="!loaded"></mat-spinner>
</ng-template>
