.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 50%;
}

.form-row {
  margin: 0.75rem 0;
}

.form-field {
  width: 100%;
}

.btn {
  width: 100%;
}

.error {
  color: red;
}

.signed-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text-container {
  text-align: center;
}

.text {
  color: #f1faee;
}
