<form [formGroup]="updatedProjectForm" (ngSubmit)="onSubmit()">
  <h3>Edit Project {{ project.name }}:</h3>
  <div>
    <label>
      Project Name:
      <input formControlName="name" />
    </label>
  </div>
  <div>
    <label>
      Description:
      <textarea formControlName="description" rows="3"></textarea>
    </label>
  </div>
  <div>
    <label>
      Long description:
      <textarea formControlName="descriptionLong" rows="5"></textarea>
    </label>
  </div>
  <button [disabled]="!updatedProjectForm.valid" type="submit">Send</button>
</form>
