<div class="modal-content">
  <div class="modal-header text">
    <h5 class="modal-title">
      {{ project.name }}
      <ng-container *ngIf="isSignedIn">
        <i
          (click)="openEditModal()"
          style="cursor: pointer"
          class="fa fa-pencil-square"
        ></i>
      </ng-container>
    </h5>
    <li (click)="closeModal()" class="fa fa-times icons"></li>
  </div>
  <div class="modal-body text">
    <p>{{ project.descriptionLong }}</p>
    <h6>Skills:</h6>
    <ng-container *ngFor="let skill of project.skills">
      <p>{{ skill }}</p>
    </ng-container>
  </div>
</div>
