<div class="modal-content">
  <div class="modal-header text">
    <h5 class="modal-title">
      {{ project.name }}
      <ng-container *ngIf="isSignedIn">
        <i style="cursor: pointer" class="fa fa-pencil-square"></i>
      </ng-container>
    </h5>
    <li (click)="closeModal()" class="fa fa-times icons"></li>
  </div>
  <div class="modal-body text">
    <p>{{ project.descriptionLong }}</p>
    <ng-container *ngFor="let skill of project.skills"
    ><h6>Skills:</h6>
      <p>{{ skill }}</p>
    </ng-container>
  </div>
</div>
